extends layout

block content
  h1 Top 3 :
  table(style="border: 3px solid black")
    th Name
    th Type
    th Star(s)
    each e in elements
      tr
        td= e.name
        td= e.placeType
        td
          - for (var nbStars = 0; nbStars < e.stars && nbStars < 5; nbStars++)
            img(src="/img/stars.png", alt="review stars")
        td
          a(href='')
            img(src="/img/delete.png", onClick='deleteReview("#{e._id}")')
          a(href='/reviews/' + e._id) 
            img(src="/img/info.png", alt="more infos...")
